fastapi
uvicorn
python-multipart
ffmpeg-python
scenedetect
opencv-python-headless
librosa
soundfile
torch
torchaudio
demucs
pydub
requests
google-genai
python-dotenv
insightface
onnxruntime
scikit-learn
scipy
hsemotion
timm==0.9.7
whisperx
emotiefflib
essentia
moviepy==1.0.3
transformers
paddlepaddle
paddleocr
easyocr
tf-keras
